@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	
	padding: 40px 0;
	
	overflow: auto;
	
	background-color: #f2f2f2;
}
.wrapper {
	max-width: 720px;
	width: 100%;
	
	padding: 20px;
	
	margin: 0 auto;
	
	background-color: #fff;
	border-radius: 8px;
}
h1 {
	font-size: 32px;
	text-align: center;
}
.list {
	display: flex;
	flex-direction: column;
	gap: 16px;
	
	max-width: 560px;
	width: 100%;
	
	margin: 40px auto 0 auto;
}
.item {
	display: flex;
	align-items: center;
	gap: 8px;
}
.item span {
	font-size: 18px;
	font-weight: bold;
}
.item p {
	font-size: 18px;
}